body{
	color: #2F4F4F;
    font-family: 'Raleway',sans-serif;	
}
.input-div{
	margin: 10 auto;
	width: 200px;
}
.button-div{
	margin: 10 auto;
	width: 75px;
}
.input{
	padding: 2px;
	height: 30px;
	width: 200px;
}
#add-user{
	background-color: #dcdcdc;
	border: 1px solid #999;
	height: 30px;
	width: 75px;
}
#error-message{
	background-color: #ff0033; 
	color: #fff;
	display: none;
	margin: 10 auto; 
	padding: 5px; 
	width: 190px; 
	white-space: normal;
}
.missing-val{
	border: 1px solid #ff0033;
	padding: 3px;
}
.input-check{
	padding: 20px 0;
}
#checkbox{
	background-color: #fff;
	height: 40px;
	width: 40px;
	margin-bottom: 10px;
}
#title{
	background-color: #707070;
	background: -webkit-linear-gradient(#707070, #f6f6f6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#707070, #f6f6f6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#707070, #f6f6f6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#707070, #f6f6f6); /* Standard syntax */
	height: 100px;
	padding-top: 10px;
	text-align: center;
}
#content{
	background-color: #f6f6f6;
	height: calc(100% - 130px);
	padding-top: 16px;
	text-align: center;
}